<nav
  style="padding-left: 30px"
  class="navbar navbar-expand-lg navbar-light bg-light"
>
  <div style="display: contents;"><a style="font-weight: bold; color: white;" class="navbar-brand">App Example</a></div>
  <div style="padding-right: 30px;" class="col">
    <div class="row">
      <p style="font-weight: bold; text-align: end">ESTADÍSTICAS:</p>
      <div style="text-align: end;">
        Mutaciones: {{ stats.count_mutations }}, &nbsp; No mutaciones:
        {{ stats.count_no_mutation }}, &nbsp; Ratio: {{ stats.ratio }}
      </div>
    </div>
  </div>
</nav>
