.general    {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
}

table {
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
  }
  
  th, td {
    padding: 1em; 
  }